.App {
  margin: 5px;
  font-size: 16px;
  background-color: black;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Main {
  background-color: black;
}

.FirstPage {
  height: 1050px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.SecondPage {
  margin: 20px;
}

.ThirdPage {
  margin: 20px;
}

.Aside {
  display: flex;
  flex-direction: column;
  width: 1100px;
  background-color: black;
}

.Avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  gap: 10px;
  color: black;
}

.Profile {
  display: flex;
  height: 246px;
  align-items: center;
}

.Section {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  margin: 10px;
}

.Name {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.Contact {}

.ContactEntry {
  margin-bottom: 5px;
}

.Xp {
  margin: inherit;
}

.Project {
  width: 50%;
}

.Formation {
  display: flex;
  margin-bottom: 10px;
}

.Header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.IconWithText {
  display: flex;
  gap: 10px;
}

.Text {
  margin-top: 10px;
  text-align: justify;
}

.Title {
  font-weight: bold;
}

.XPDate {
  font-weight: bold;
  width: 230px;
}

.Date {
  font-weight: bold;
  width: 150px;
}

.Wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
}

.Language {
  display: flex;
  height: 30px;
  width: 100px;
  font-weight: bold;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
}

.SkillCategory {
  margin-bottom: 10px;
}

.ListTechno {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 10px;
}

.Techno {
  width: 150px;
}

.Percentage {
  display: flex;
  width: 100px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50px;
  align-self: center;
  margin-left: 5px;
}

.Greenquartile {
  width: 20%;
  background-color: green;
}

.Whitequartile {
  width: 20%;
}

ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 3px;
}

.bold {
  font-weight: bold;
}

.Logo {
  width: 100;
  height: 100;
}

#Skills {
  height: 640px;
  margin-top: 10px;
  border-left: none;
  border-top: none;
}

#Xp {
}