#Xp {
    margin: 20px;
  }

.JobsContainer {
    display: flex;
    flex-direction: column;
}

.JobEntry {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.XpHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Animation {
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
    font-size: 18px;
  }