#Xp {
    margin: 20px;
  }

.JobsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.JobEntry {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#Xp {
    margin: 20px;
}

.XpHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.XPDate {
    font-weight: bold;
    width: 230px;
}

.Animation {
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
}