.Percentage {
    display: flex;
    width: 100px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50px;
    align-self: center;
    margin-left: 5px;
  }

.Greenquartile {
    width: 20%;
    background-color: green;
}

.Whitequartile {
    width: 20%;
}